<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Planilla Web</title>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
	<!-- Coloca elementos React -->
	<!-- div id="searchableTable"></div -->
    <div class="wrapper">
    <h1>Exam Prep Cicle App</h1>

    <div class="content">
    <h3>Based on this article of CollegeInfoGeek: <a href="http://collegeinfogeek.com/exam-prep-cycle/">Exam Prep Cycle</a>, thanks Tom & Thomas!</h3>

    <a class="btn btn-primary" href='<%= gurl %>'>Authorize App</a>


    </div>

    <footer>App by: <a href="http://www.acifuentes.cl">Andrés Cifuentes</a>
        <br>
        <span>Based on the <a href="http://collegeinfogeek.com/exam-prep-cycle/">"Exam Preparation Cicle"</a> article by <a href="http://www.wtfprofessor.com/">Tom Miller</a> in <a href="http://www,collegeinfogeek.com/">CollegeInfoGeek</span>
    
    </footer>
    </div>
	<!-- one script to rule them all (in production) -->
	<script src="public/js/jquery-2.2.3.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/vendors.js"></script>
	<script src="public/js/bundle.js"></script>
</body>
</html>
